body {
  width: 100%;
  height: 100%;
  margin: 0;
  align-content: center;
}
#featured-property{
  
}
header{
  text-align: center
}
a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
div {
  float: left;
  text-align: center;
  width: 25%;
  background-color: red;
}
#featured-property p{
  text-align: center;
  max-width: 800px;
  margin-top: 20px;
}
#featured-property{
  text-align: center;
}
figcaption{
  font-size: smaller;
  text-align: center;

}
